= bs_text_field(f, :name, "Name", required: true)
= bs_text_field(f, :short_name, "Email Address", required: true, hint: "@ #{ENV['email_domain']}")
= bs_text_field(f, :description, "Description")

= bs_check_box_block do
  = bs_check_box(f, :private, "Make this list private (invitation only)")
