<tr>
	<td>
		<%= link_to h(list.name), list %>
	</td>
	<td>
		<%= mail_to h(list.email) %>
	</td>
	<td>
		(<%= pluralize(list.subscriptions.size, 'subscriber') %>)
	</td>
    <td>
        <%= link_to h("[topics]"), list_topics_path(list)  %>
    </td>
    <% unless current_user.admin? %>
    <td>
        <%= link_to h("[unsubscribe]"), unsubscribe_list_path(list), :confirm => "Are you sure you want to unsubscribe?" %>
    </td>
    <% end %>
</tr>