<h2>Edit <%=h @list.name %></h2>

<% form_for(@list) do |f| %>
	<%= f.error_messages %>
	<%= render :partial => 'form', :locals => { :f => f } %>
	<p>
		<%= f.label :subject_prefix %><br />
		<%= f.text_field :subject_prefix %>
	</p>
	
	<p>
		<%= f.check_box :archive_disabled, :disabled => true %>
		<%= f.label :archive_disabled, 'Disable the ability to view the message archive' %>
	</p>
	
	<p>
		<%= f.check_box :disabled, :disabled => true %>
		<%= f.label :disabled, 'Disable this list.  This will prevent any new topics from being created, all messages will bounce back to the sender.' %>
	</p>
	
	<h4>Who receives replies to messages?</h4>
	<p>
		<%= f.radio_button :send_replies_to, 'Subscribers' %>
		<%= f.label :send_replies_to_group, 'Everyone in the group' %><br />
		
		<%= f.radio_button :send_replies_to, 'Author' %>
		<%= f.label :send_replies_to_author, 'Only the author of the message' %><br />
	<p>
	
	<h4>Who is permitted to post new topics?</h4>
	
	<p>
		<%= f.radio_button :permitted_to_post, 'Managers', :disabled => true %>
		<%= f.label :permitted_to_post, 'Only Managers' %><br />
		
		<%= f.radio_button :permitted_to_post, 'Subscribers', :disabled => true %>
		<%= f.label :permitted_to_post, 'All Subscribers' %><br />
		
		<%= f.radio_button :permitted_to_post, 'Anyone', :disabled => true %>
		<%= f.label :permitted_to_post_anyone, 'Anyone' %>
	<p>
	
	<p>
    	<%= f.submit "Update" %>
  	</p>
<% end %>

<%= link_to 'Show', @list %> |
<%= link_to 'Back', lists_path %>
