<h2>Editing list</h2>

<% form_for(@list) do |f| %>
	<%= f.error_messages %>
	<%= render :partial => 'form', :locals => { :f => f } %>
	<p>
    	<%= f.submit "Update" %>
  	</p>
<% end %>

<%= link_to 'Show', @list %> |
<%= link_to 'Back', lists_path %>
