<h2><%= current_user.admin? ? "Mailing Lists" : "My Lists" %></h2>

<table>
<% @lists.each do |list| %>
	<tr>
		<td>
			<%= link_to h(list.name), list %>
		</td>
		<td>
			<%= mail_to h(list.email) %>
		</td>
		<td>
			(<%= pluralize(list.subscriptions.size, 'subscriber') %>)
		</td>
        <td>
            <%= link_to h("[topics]"), list_topics_path(list)  %>
        </td>
        <% unless current_user.admin? %>
        <td>
            <%= link_to h("[unsubscribe]"), unsubscribe_list_path(list), :confirm => "Are you sure you want to unsubscribe?" %>
        </td>
        <% end %>
	</tr>
<% end %>
</table>

<% unless current_user.admin? %>
<h3>Available Lists</h3>
<table>
  <% @available_lists.each do |list| %>
  <%# <dph> This probably doesn't belong here %>
  <% next if list.subscribers.include?(current_user) %>
		<td>
			<%= link_to h(list.name), list %>
		</td>
		<td>
			<%= mail_to h(list.email) %>
		</td>
		<td>
			(<%= pluralize(list.subscriptions.size, 'subscriber') %>)
		</td>
        <td>
            <%= link_to h("[topics]"), list_topics_path(list)  %>
        </td>
        <td>
            <%= link_to h("[subscribe]"), subscribe_list_path(list), :confirm => "Are you sure you want to subscribe?" %>
        </td>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New list', new_list_path %>
