<span style="float:right;">
	<%= link_to "[edit list]", edit_list_path(@list) %> | 
	<%= link_to "[delete list]", list_path(@list), :method => :delete, :confirm => "Are you sure?" %></span>
<h2><%=h @list.name %></h2>
<p><%=h @list.description %></p>

<h3>Subscribers</h3>
<%= @list.subscribers.present? ? (render :partial => @list.subscribers) : "There is no one subscribed to this list." %>
<br />

<h3>Recent Topics</h3>
<%= @list.topics.present? ? (render :partial => @list.topics) : "There are no recent topics for this list." %>

<br />
<%= link_to 'Back', lists_path %>
