<h2><%=h @list.name %> <%= link_to "[edit this list]", edit_list_path(@list) %></h2>
<p><%=h @list.description %></p>

<h3>Subscribers</h3>
<%= @list.subscribers.present? ? (render :partial => @list.subscribers) : "There is no one subscribed to this list." %>

<h3>Recent Topics</h3>
<%= @list.topics.present? ? (render :partial => @list.topics) : "There are no recent topics for this list." %>

<br />
<%= link_to 'Back', lists_path %>
