<span style="float:right;">
	<p>
      <%= link_to "[edit list]", edit_list_path(@list) %> | 
	  <%= link_to "[delete list]", list_path(@list), :method => :delete, :confirm => "Are you sure?" %>
    </p>
    <p>
      <%= link_to "[send test]", send_test_list_path(@list) %> 
    </p>
</span>
<h2><%=h @list.name %></h2>
<p><%=h @list.description %></p>

<h3>Subscribers</h3>
<%# @list.subscribers.present? ? (render :partial => @list.subscribers) : "There is no one subscribed to this list." %>
<% form_for @list do |f| %>
<% Subscriber.all.each do |subscriber| %>
	<%= check_box_tag 'list[subscriber_ids][]', subscriber.id, @list.subscribers.include?(subscriber) %>
	<%=h subscriber.name %><br />
<% end %>
<%= hidden_field_tag 'list[subscriber_ids][]', '' %>
<%= f.submit %>
<% end %>
<br />

<h3>Recent Topics</h3>
<%= @list.topics.present? ? (render :partial => @list.topics) : "There are no recent topics for this list." %>

<br />
<%= link_to 'Back', lists_path %>
