<p>
  <b>Name:</b>
  <%=h @list.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @list.description %>
</p>

<p>
  <b>Email:</b>
  <%=h @list.email %>
</p>


<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
