<h1>Sign In</h1>

<% form_tag sessions_path do %>
  <p>
    <%= label_tag :login, "Email" %><br />
    <%= text_field_tag :login, params[:login] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p><%= submit_tag "Log in" %></p>
<% end %>

<p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>
