<%= form_for :sessions, url: sessions_path do |f| %>
  <%= bs_text_field(f, :login, "Email") %>
  <%= bs_password_field(f, :password, "Password") %>

  <div class="actions">
    <%= f.submit "Log in", class: "btn primary" %>
  </div>
<% end %>

<p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>
