<h2>Topics for <%=h @list.name %> (<%= @list.email %>)</h2>

<%= will_paginate @topics %>
<table width="90%">
	<tr>
		<th>Subject</th>
		<th>Last Message</th>
		<th>Message Count</th>
	</tr>
	<%= render @topics %>
</table>
<%= will_paginate @topics %>

<br />

