<h2>Topics for <%= @list.name %></h2>
<p><%= link_to h("[list home]"), @list %></p>

<%= will_paginate @messages %>
<table>
<% @topics.each do |topic| %>
	<tr>
        <td>
            [<%= @list.short_name %>]
        </td>
		<td>
			<%= link_to h(topic.name), list_topic_path(@list, topic) %>
		</td>
		<td>
			<%= time_ago_in_words(topic.created_at) %> ago
		</td>
        <td>
			(<%= pluralize(topic.messages.size, 'message') %>)
        </td> 
	</tr>
<% end %>
</table>
<%= will_paginate @messages %>

<br />

