<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :ip, 'IP Address' %><br />
  <%= f.text_field :ip %>
</p>

<p>
  <%= f.label :hostname %><br />
  <%= f.text_field :hostname %>
</p>