<% if admin? %>
  <p style="color: #aaa">Enter the name and email address of the new subscriber</p>
<% end %>

<%= bs_text_field(f, :name, "Name") %>
<%= bs_text_field(f, :email, "Email") %>

<% if admin? %>
  <p style="color: #aaa">
    Optionally, give the subscriber a password so they can login to the system.
  </p>
<% end %>

<%= bs_password_field(f, :password, "Password") %>
<%= bs_password_field(f, :password_confirmation, "Confirm Password") %>

<% if admin? %>
  <%= bs_check_box_block do %>
    <%= bs_check_box(f, :admin, "Make this subscriber an administrator") %>
  <% end %>
<% end %>
