<h1>Listing subscribers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>

<% @subscribers.each do |subscriber| %>
  <tr>
    <td><%= link_to h(subscriber.name), edit_subscriber_path(subscriber) %></td>
    <td><%= mail_to h(subscriber.email) %></td>
    <td>
			<%= check_box_tag 'subscriber[admin]', "1", subscriber.admin, 
			:onclick => remote_function(
		  		:url => url_for(toggle_administrator_subscriber_path(subscriber)),
		  		:method => :put,
		  		:before => "Element.show('spinner-admin')",
		  		:complete => "Element.hide('spinner-admin')",
		  		:with => "this.name + '=' + this.checked"
			), :disabled => subscriber == current_user ? true : false %>
			<%= label 'subscriber[admin]', 'This user is an administrator' %>
			<span id="spinner-admin" style="display:none;"><%= image_tag 'spinner.gif' %></span>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New subscriber', new_subscriber_path %>
