<p class="top-right-links"><%= link_to 'Add a new subscriber', new_subscriber_path %></p>
<%= render :partial => 'search' %>
<br />
<table class="subscribers">
	<tbody id="subscribers">
		<%= render :partial => @subscribers %>
	</tbody>
</table>

<%= will_paginate @subscribers %>
<%= focus_field "term" %>

