<h1>All Subscribers</h1>

<table>
<% @subscribers.each do |subscriber| %>
  <tr>
    <td><%= link_to h(subscriber.name), edit_subscriber_path(subscriber) %></td>
    <td><%= mail_to h(subscriber.email) %></td>
    <td>
			<%= check_box_tag "subscriber[admin][#{subscriber.id}]", "1", subscriber.admin, 
			:onclick => remote_function(
		  		:url => url_for(toggle_administrator_subscriber_path(subscriber)),
		  		:method => :put,
		  		:before => "Element.show('spinner-admin-#{subscriber.id}')",
		  		:complete => "Element.hide('spinner-admin-#{subscriber.id}')",
		  		:with => "this.name + '=' + this.checked"), 
			:disabled => subscriber == current_user %>
			<%= label_tag "subscriber[admin][#{subscriber.id}]", 'Administrator' %>
			<%= image_tag 'spinner.gif', :id => "spinner-admin-#{subscriber.id}", :style => 'display: none' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New subscriber', new_subscriber_path %>
