<h1>New subscriber</h1>

<%= form_for @subscriber do |f| %>
  <%= f.error_messages %>
  <%= render "form", f: f %>

  <div class="actions">
    <%= f.submit "Create", class: "btn primary" %>
    <%= link_to "Cancel", subscribers_path, class: "btn" %>
  </div>
<% end %>
