<!DOCTYPE html>
<html>
<head>
	<title><%= ENV['email_domain'] %></title>
	<%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
</head>

<body>

<div id="main-container">
	<div id="header">
	  <div id="header-right">
        <p>Welcome, <%=h current_user.name %>!<br/>
        <%= link_to "[Logout]", sessions_path, :method => :delete %>
      </div>
      <div id="header-left">
		<h1><%= ENV['email_domain'] %></h1>
        <% if admin? %>
		  <p><%= link_to "Lists", lists_path %> | <%= link_to "Subscribers", subscribers_path %> |
          <!-- <%= link_to "Messages", messages_path %> | --><%= link_to "Servers", servers_path %></p>
        <% else %>
		  <p><%= link_to "My Lists", lists_path %> | <%= link_to "Available Lists", available_lists_path %> | <%= link_to "My Account", edit_subscriber_path(current_user) %> </p>
        <% end %>
      </div>
	</div>

	<%- flash.each do |name, msg| -%>
		<%= content_tag :div, msg, :id => "flash-#{name}" %>
	<%- end -%>

	<div id="page">
		<%= yield %>
	</div>

</div>

<!-- Footer -->
<div id="footer" align="center">
   <br/>
   <div id="footer-links"><%= ENV['copyright'] %></div>
</div>
<!-- End Footer -->

</body>
</html>
