<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>dList</title>
	<%= stylesheet_link_tag "global" %>
    <%= javascript_include_tag "prototype" %>
</head>

<body>

<div id="main-container">
	<% if flash %>
		<div id="flash">
			<% if flash[:notice] %>
				<span class="notice"><%= flash[:notice] %></span>
			<% elsif flash[:warning] %>
				<span class="warning"><%= flash[:warning] %></span>
			<% end %>
		</div>
	<% end %>
	
	<div id="header" style="position: relative; height: 75px;">
      <div class="header-left" style="position: absolute; left: 5px"> 
		<h1 id="dlist">dList</h1>
		<p><%= link_to "Lists", lists_path %> | <%= link_to "Subscribers", subscribers_path %> | 
          <%= link_to "Topics", topics_path %> | <%= link_to "Messages", messages_path %></p>
      </div>
      <div class="header-right" style="position: absolute: right: 5px; vertical-align: bottom; " align="right">
        <% if(current_user) %>
          <p>Welcome, <%= current_user.name %>!<br/>
          <em>You are <%= current_user.admin? ? "an admin" : "a subscriber" %></em><br/>
          <%= link_to( h("[Logout]"), "logout") %>
        <% else %>
          <%= link_to( h("[Login]"), "login") %>
        <% end %>
      </div>
	</div>
	
	<div id="body">
		<%= yield %>
	</div>
	
	<div id="footer">

	</div>
</div>


	
</body>
</html>
