<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title><%= APP_CONFIG[:email_domain] %></title>
	<%= stylesheet_link_tag "global" %>
    <%= javascript_include_tag :defaults %>
</head>

<body>

<div id="main-container">
	<div id="header">
	  <div id="header-right">
        <p>Welcome, <%=h current_user.name %>!<br/>
        <%= link_to "[Logout]", sessions_path, :method => :delete %>
      </div>
      <div id="header-left"> 
		<h1><%= APP_CONFIG[:email_domain] %></h1>
        <% if current_user.admin? %>
		  <p><%= link_to "Lists", lists_path %> | <%= link_to "Subscribers", subscribers_path %> | 
          <%= link_to "Messages", messages_path %> | <%= link_to "Servers", servers_path %></p>
        <% else %>
		  <p><%= link_to "My Lists", lists_path %> | <%= link_to "Available Lists", available_lists_path %> | <%= link_to "My Account", edit_subscriber_path(current_user) %> </p>
        <% end %>
      </div>
	</div>
	
	<% if flash %>
		<% if flash[:notice] %>
			<div id="flash-notice">
				<p><%= flash[:notice] %></p>
			</div>
		<% elsif flash[:warning] %>
			<div id="flash-warning">
				<p><%= flash[:warning] %></p>
			</div>
		<% end %>
	<% end %>
	
	<div id="page">
		<%= yield %>
	</div>
	
	<div id="footer">

	</div>
</div>


	
</body>
</html>
