<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>dList</title>
	<%= stylesheet_link_tag "global" %>
    <%= javascript_include_tag "prototype" %>
</head>

<body>

<div id="main-container">
	<% if flash %>
		<div id="flash">
			<% if flash[:notice] %>
				<span class="notice"><%= flash[:notice] %></span>
			<% elsif flash[:warning] %>
				<span class="warning"><%= flash[:warning] %></span>
			<% end %>
		</div>
	<% end %>
	
	<div id="header">
		<h1 id="dlist">dList</h1>
		<p><%= link_to "Lists", lists_path %> | <%= link_to "Subscribers", subscribers_path %> | 
          <%= link_to "Topics", topics_path %> | <%= link_to "Messages", messages_path %></p>
	</div>
	
	<div id="body">
		<%= yield %>
	</div>
	
	<div id="footer">

	</div>
</div>


	
</body>
</html>
