<!DOCTYPE html>
<html>
<head>
  <title><%= ENV['EMAIL_DOMAIN'] %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<div id="main-container-mini">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash-#{name}" %>
    <br /><br />
  <% end %>

  <div id="body">
	  <%= yield %>
  </div>

  <div id="footer">

  </div>
</div>

</body>
</html>
